/.phpunit.cache
/node_modules
/public/build
/public/hot
#/public/storage
/public/storage/*
!/public/storage/gambar_login/
!/public/storage/gambar_login/.gitignore
!/public/storage/qrcode_assets/
!/public/storage/qrcode_assets/.gitignore
!/public/storage/foto_asset/
!/public/storage/foto_asset/.gitignore
!/public/storage/uploads/
!/public/storage/uploads/.gitignore
!/public/storage/uploads/foto_barang_datang/
!/public/storage/uploads/foto_barang_datang/.gitignore
!/public/storage/upload_sptjms/
!/public/storage/upload_sptjms/.gitignore
!/public/storage/download/
!/public/storage/download/.gitignore
!/public/storage/spjs/
!/public/storage/spjs/.gitignore
!/public/storage/spjs/barang_datang/
!/public/storage/spjs/barang_datang/.gitignore
!/public/storage/spjs/bukti_bayar/
!/public/storage/spjs/bukti_bayar/.gitignore
!/public/storage/spjs/dokumen_spj/
!/public/storage/spjs/dokumen_spj/.gitignore
!/public/storage/qrcodes/
!/public/storage/qrcodes/.gitignore
!/public/storage/download/upload_assets.xls
/public/webhook_payload.json
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
